<div class="qoob-block qoob-block_simple-bg qoob-text qoob-text-{{id}}" style="background-image: url({{bg_image_url}});">
    <div class="qb-container">
            <div class="qoob-header">
            {{#if header}}
                <h2 class="qoob-header__title qoob-text__title qoob-header__title_color_black">{{header}}</h2>
            {{/if}}
            {{#if text}}
                <div class="qoob-header__description qoob-text__description qoob-header__description_color_black">
                   {{{text}}}
                </div>
            {{/if}}
            </div>
    </div>
</div>
<script>
jQuery( document ).ready(function() {
    var windowHeight = jQuery(window).height();
    var windowWidth = jQuery(window).width();
    if(windowWidth > 767) {
        jQuery('.qoob-text-{{id}}').css('height', windowHeight);
    } else {
        jQuery('.qoob-text-{{id}}').css('height', 'auto');
    }
});
jQuery( window ).resize(function() {
    var windowHeight = jQuery(window).height();
    var windowWidth = jQuery(window).width();
    if(windowWidth > 767) {
        jQuery('.qoob-text-{{id}}').css('height', windowHeight);
    } else {
        jQuery('.qoob-text-{{id}}').css('height', 'auto');
    }
});
</script>