<div class="qoob-block qoob-feature" style="background-color: {{bg_color}}">
        <div class="qb-container">
            <div class="qoob-header qoob-feature__header">
                {{#if header}}
                    <h2 class="qoob-header__title qoob-header__title_color_white">{{header}}</h2>
                {{/if}}
                {{#if description}}
                    <div class="qoob-header__description qoob-header__description_color_white">
                       {{{description}}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="qb-container">
            {{#if cards.length}}
                {{#each_with_sort cards "order"}}
                    <div class="qb-column qb-1-4 qb-mobile-1-1 {{#ifIsNthItem nth=4}} qb-column-margin-none {{/ifIsNthItem}}">
                        <div class="qoob-feature">
                            <div class="qoob-feature__item">
                                {{#if icon_front}}
                                    <div class="qoob-feature__icon qoob-feature__icon_{{figure_form}}" style="background-color: {{figure_bg_color}}"><span class="qoob-feature__iconel {{icon_front}}"></span></div>
                                {{/if}}
                                {{#if header_item}}
                                    <div class="qoob-feature__itemheader"><h4 class="qoob-feature__headertext" style="color: {{figure_bg_color}}">{{header_item}}</h4></div>
                                {{/if}}
                                {{#if description_item}}
                                    <div class="qoob-feature__description">{{{description_item}}}</div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{#ifIsNthItem nth=4}} <div class="clearfix"></div>{{/ifIsNthItem}}
                {{/each_with_sort}}
            {{/if}}
        </div>
</div>

<script>
    jQuery( document ).ready(function() {
       
    });
</script>
