<div class="qoob-block qoob-block-slider">
        <div class="owl-carousel qoob-slider-{{id}}">
            {{#if images.length}}
                {{#each_with_sort images "order"}}
                    <div class="item qoob-slider__item" style="background-image: url({{image}});">
                        <div class="qb-container">
                            <div class="qoob-header">
                                {{#if header}}
                                    <h2 class="qoob-header__title qoob-slider__title qoob-header__title_color_white">{{header}}</h2>
                                {{/if}}
                                {{#if action_text}}
                                    <div class="qoob-button">
                                        <a class="qoob-button__button qoob-slider__button qoob-button__button_{{action_hover}}" type="button" href="{{action_url}}">{{action_text}}</a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each_with_sort}}
            {{/if}}
        </div>                
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('.qoob-slider-{{id}}').owlCarousel({
        autoPlay: 3000, //Set AutoPlay to 3 seconds
        margin: 0,
        items : 1,
        autoHeight: true,
        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
        responsive : {
            0 : {
                nav: false,
                dots: true,
            },
            769 : {
                nav: true,
                dots: false
            }
        }
  });
    // 
});
</script>