<div class="qoob-block qoob-block-testimonial">
    <div class="qb-container">
        <div class="qoob-header">
            {{#if header}}
                <h2 class="qoob-header__title qoob-header__title_color_black">{{header}}</h2>
            {{/if}}
            {{#if description}}
                <div class="qoob-header__description qoob-header__description_color_black">
                   {{{description}}}
                </div>
            {{/if}}
        </div>
    </div>
    <div class="qb-container">
                <div id="testimonial-{{id}}" class="owl-carousel owl-theme qoob-testimonial-slider">
                {{#each_with_sort testimonial "order"}}
                    <div class="item testimonial-item clearfix">
                    {{#if image}}
                        <div class="qoob-testimonial-slider__img" style="background-image: url('{{image}}');"></div>
                    {{/if}}
                        <div class="qoob-testimonial-slider__content">
                            <h4 class="qoob-testimonial-slider__title">{{title}}</h4>
                            {{{text}}}
                        </div>
                    </div>
                {{/each_with_sort}}
                </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#testimonial-{{id}}').owlCarousel({
        items: 1,
        dots: true,
        dotsEach: true
    });
});
</script>