<div class="qoob-block qoob-block-video qoob-block_simple-bg" style="background-image: url({{bg_image_url}});">
        <div class="qb-container">
             <div class="qoob-header">
                {{#if header}}
                    <h2 class="qoob-header__title qoob-header__title_color_black">{{header}}</h2>
                {{/if}}
                {{#if description}}
                    <div class="qoob-header__description qoob-header__description_color_black">
                       {{{description}}}
                    </div>
                {{/if}}
            </div>
            <div class="qoob-block-video__container_v2 video-container-{{id}}"></div>
        </div>
        
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var url = "{{url}}",
            video = '',
            format = url.substring(url.lastIndexOf('.') + 1, url.length);
        
        if (format === 'mp4' || format === 'ogv'|| format === 'webm') {
            video = "<video  poster='{{poster}}' width=' 100%' height='100%' controls><source src='" + url + "' type='video/" + (format === 'ogv' ? 'ogg' : format) + "'></source></video>";
        }

        jQuery(".video-container-{{id}}").append(video);
    });
</script>