<div class="qoob-block qoob-iconbox-block" style="background-color: {{bg_color}}">
        <div class="qb-container">
            <div class="qoob-header qoob-iconbox-block__header">
                {{#if header}}
                    <h2 class="qoob-header__title qoob-header__title_color_black">{{header}}</h2>
                {{/if}}
                {{#if description}}
                    <div class="qoob-header__description qoob-header__description_color_black">
                       {{{description}}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="qb-container">
            {{#if iconbox.length}}
                {{#each_with_sort iconbox "order"}}
                    <div class="qb-column qb-1-3 qb-mobile-1-1 {{#ifIsNthItem nth=3}} qb-column-margin-none {{/ifIsNthItem}}">
                        <div class="qoob-iconbox" style="background-color: {{iconbox_bg_color}}">
                            <div class="qoob-iconbox__item">
                                {{#if header_item}}
                                    <div class="qoob-iconbox__itemheader"><h4 class="qoob-iconbox__headertext">{{header_item}}</h4></div>
                                {{/if}}
                                {{#if icon_front}}
                                    <div class="qoob-iconbox__icon"><span class="qoob-iconbox__iconel {{icon_front}}"></span></div>
                                {{/if}}
                                {{#if description_item}}
                                    <div class="qoob-iconbox__description">{{{description_item}}}</div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{#ifIsNthItem nth=3}} <div class="clearfix"></div>{{/ifIsNthItem}}
                {{/each_with_sort}}
            {{/if}}
        </div>
</div>
